# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

## IDE
*.idea/
*.vscode/

# Terraform
**/.terraform
**/terraform.tfstate**
.terraform.lock.hcl
.terraform.tfstate.lock.info
**/config.tfrc
**/variables.tf
**/service_account.json

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# Unit test files
stackit/internal/services/iaas/test-512k.img

# Test coverage reports
coverage.out
coverage.html
generated
stackit-sdk-generator
dist